/* Add fonts */
@font-face {
    font-family: "fira code";
    src: url("/assets/fonts/FiraCode-VariableFont_wght.ttf") format("TrueType");
}

/* get font to body */

body {
    font-family: "fira code", sans-serif, verdana;
    background-color: #282c33;
    color: white;
    overflow-x: hidden;
}

/* main styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button,
input,
textarea,
select {
    font-family: "fira code", sans-serif, verdana;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}